<h1>Friends Management System</h1>
<p><a href="/adduser" class="addbtn">Add User</a></p>
<table>
    <thead>
        <tr>
        <td>Sno</td>
        <td>Name</td>
        <td>Age</td>
        <td>City</td>
        <td>Edit</td>
        <td>Delete</td>
        </tr>
    </thead>

    <tbody>
        {{#each rows}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.NAME}}</td>
            <td>{{this.AGE}}</td>
            <td>{{this.CITY}}</td>
            <td><a href="/editUser/{{this.ID}}" class="edit">Edit</a></td>
            <td><a onclick="return confirm('Are you sure?')" href="/deleteUser/{{this.ID}}" class="delete">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>